<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions Guide</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Ask a question</h3>
        <hr>
        <form action="">
            <label for="">Question title</label>
            <input type="text" class="form-control">
            <br>
            <label for="">Question description</label>
            <textarea class="form-control"></textarea>
            <br>
            <button class="btn btn-success">To Ask</button>
        </form>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>